tModLoader/Worlds/**
!tModLoader/Worlds/.gitkeep

tModLoader/Mods/*
!tModLoader/Mods/.gitkeep
!tModLoader/Mods/enabled.json
!tModLoader/Mods/install.txt

tModLoader/logs/**

tModLoader/steamapps/**

tModLoader/serverconfig.txt

docker-compose.yml
favorites.json
server


